<section>
    <h2>Crie sua própra sala</h2>
    <form action="/create_room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma Senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma Senha">
        <button>
            <img src="images/usersWhite.svg " alt="Entrar na sala">
            Criar sala
        </button>
    </form>
</section>